.images {
  min-height: 100vh;
  background-color: #171717;
  padding: 1.5rem;
  width: 100%;

  h1 {
    width: fit-content;
    margin: 4rem auto 0 auto;
    color: #fff;
  }

  p {
    color: #fff;
    width: fit-content;
    margin: 5rem auto;
  }
}
