.scrollToTop {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  width: 4rem;
  height: 4rem;

  a {
    font-size: 4rem;
    color: #fefefe;
    border: 1px solid #fefefe;
    border-radius: 0.6rem;
    background-color: #171717;

    &:hover {
      cursor: pointer;
      filter: opacity(0.9);
    }

    &:focus-visible {
      outline: 2px solid #fefefe;
    }
  }
}
